.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control label, 
.form-control input{
    width: 100%;
    display: block;
}
.form-control input{
    border: 1px solid #f35f5f;
    font: inherit;
    border-radius: 2px;
}
button{
    border: 1px solid white;
    border-radius: 3px;
    font: inherit;
    background-color: #f35f5f;
    color: white;
    padding: 0.2rem  0.5rem;
    cursor: pointer;
    
}